/* SECCIONES */

.secciones {
    width: 100%;
    height: 1000px;
}

/* SECCION 1 */

.seccion-1 {
    background-color: #141414;
    display: inline-block;
    width: 440px;
    height: 590px;
    position: relative;
    top: 50px;
    left: 150px;
    transform: scale(1, 1);
    transition: .5s;
}

.seccion-1:hover {
    background-color: #141414;
    display: inline-block;
    width: 440px;
    height: 590px;
    position: relative;
    top: 50px;
    left: 150px;
    transform: scale(1.008, 1.008);
    transition: .5s;
    box-shadow: 3px 3px 5px #414141c2;
}

.titulo-seccion-1 {
    display: inline-block; 
    width: 99%;
    height: 60px;
    margin: 0;
    position: absolute;
    z-index: 200;
    background-color: #141414;
    z-index: 1000;
    left: 1px;
}

.titulo-tecnologia {
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px; 
    color: white;
    margin: 0;
    top:8px;
    font-size: 25px;
    position: relative;
    background-color: #141414;
    z-index: 1000;  
}

/* SECCION 2 */

.seccion-2 {
    background-color: #141414;
    display: inline-block;
    width: 440px;
    height: 590px;
    position: relative;
    top: 50px;
    left: 250px;
    transform: scale(1, 1);
    transition: .5s;
}

.seccion-2:hover {
    background-color: #141414;
    display: inline-block;
    width: 440px;
    height: 590px;
    position: relative;
    top: 50px;
    left: 250px;
    transform: scale(1.008, 1.008);
    transition: .5s;
    box-shadow: 3px 3px 5px #414141c2;
}

.titulo-seccion-2 {
    display: inline-block; 
    width: 99%;
    height: 60px;
    margin: 0;
    position: absolute;
    z-index: 200;
    background-color: #141414;
    z-index: 1000;
    left: 1px;
}

.titulo-Hogar {
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px; 
    color: white;
    margin: 0;
    top:8px;
    font-size: 25px;
    position: relative;
    background-color: #141414;
    z-index: 1000; 
}

/* SECCION 3 */

.seccion-3 {
    background-color: #141414;
    display: inline-block;
    width: 440px;
    height: 590px;
    position: relative;
    top: 50px;
    left: 350px;
    transform: scale(1, 1);
    transition: .5s;
}

.seccion-3:hover {
    background-color: #141414;
    display: inline-block;
    width: 440px;
    height: 590px;
    position: relative;
    top: 50px;
    left: 350px;
    transform: scale(1.008, 1.008);
    transition: .5s;
    box-shadow: 3px 3px 5px #414141c2;
}

.titulo-seccion-3 {
    display: inline-block; 
    width: 99%;
    height: 60px;
    margin: 0;
    position: absolute;
    z-index: 200;
    background-color: #141414;
    z-index: 1000;
    left: 1px;
}

.titulo-vestuario {
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px; 
    color: white;
    margin: 0;
    top:8px;
    font-size: 25px;
    position: relative;
    background-color: #141414;
    z-index: 1000;  
}


/* AJUSTE A IMAGENES DE LAS SUB-SECCIONES */

.imagen-sub-seccion {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MASCARA SECCION */

#mascara-x {
    position: absolute;
    display: inline-block;
    width: 99%;
    height: 29px;
    background-color: #141414;
    z-index:2000;
    top: 304px;
    left: 1px;
}


/* ANIMACION CAJAS SUB-SECCIONES  */

.contenedor-subtitulo {
    display: inline-block;
    width: 103%;
    height: 240px;
    position: absolute;
    top: 0px;
    opacity: .9;
    transition: .3s;
    left: -2px;
}

.contenedor-subtitulo:hover {
    display: inline-block;
    width: 103%;
    height: 240px;
    position: absolute;
    top: 40px;
    transition: .3s;
    left: -2px;
}

.subtitulo {
    display: inline-block;
    background-color: #141414e1;
    position: absolute;
    width: 103%;
    height: 40px;
    color: white;
    top: -65px;
    z-index: -1;
    text-align: center;
    letter-spacing: 3px;   
}

.subtitulo-final {
    position: relative;
    top: 12px;
}


/* AJUSTES CAJAS SUB-SECCIONES */

.seccion-1-caja-1,
.seccion-1-caja-2,
.seccion-1-caja-3,
.seccion-1-caja-4,
.seccion-2-caja-1,
.seccion-2-caja-2,
.seccion-2-caja-3,
.seccion-2-caja-4,
.seccion-3-caja-1,
.seccion-3-caja-2,
.seccion-3-caja-3,
.seccion-3-caja-4 {
    width:190px;
    height: 240px;
    background-color: #fff;
    position: absolute;
}

.seccion-1-caja-1,
.seccion-2-caja-1,
.seccion-3-caja-1 {
    top: 60px;
    left: 20px;
    z-index: 900;
}

.seccion-1-caja-2,
.seccion-2-caja-2,
.seccion-3-caja-2 {
    top: 60px;
    right: 20px;
    z-index: 900;

}

.seccion-1-caja-3,
.seccion-2-caja-3,
.seccion-3-caja-3 {
    bottom: 20px;
    left: 20px;
}


.seccion-1-caja-4,
.seccion-2-caja-4,
.seccion-3-caja-4 {
    right: 20px;;
    bottom: 20px;
}

