* {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    background-color: #ececec;
}

.encabezado {
    background-color: #141414;
    display: inline-block;
    height: 100px;
    width: 100%;
}

.logo {
    width: 180px;
    height: 60px;
    position: relative;
    left: 20px;
    top: 17px;
}

.facebook-icon {
    transform: scale(1, 1);
    transition: .5s;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;    
}

.facebook-icon:hover {
    transform: scale(1.1, 1.1);
    transition: .5s;
    padding: 0;
    margin: 0;    
    box-shadow: 2px 2px 5px #3b5998;
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.instagram-icon {
    transform: scale(1, 1);
    transition: .5s;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;
    border-radius: 12px;
}

.instagram-icon:hover {
    transform: scale(1.1, 1.1);
    transition: .5s;
    padding: 0;
    margin: 0;    
    box-shadow: 2px 2px 5px #df9204c4;
    width: 35px;
    height: 35px;
    border-radius: 12px;

}

.twitter-icon {
    transform: scale(1, 1);
    transition: .5s;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;

}

.twitter-icon:hover {
    transform: scale(1.1, 1.1);
    transition: .5s;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00acee ;
    width: 35px;
    height: 35px;

}

.caja-instagram,
.caja-twitter,
.caja-facebook {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 885px;
}

.subtitulo-redes-sociales {
    display: inline-block;
    position: relative;
    left: 800px;
    top: 400px;
}

.pie {
    position:relative;
    height:600px;
    width:100%;
    background: #141414;
    position: relative;
    bottom: 0;
    color: white;
    font-size: 20px;
    font-weight: 500px;    
}

.pie-bajo {
    position: absolute;
    background-color: #0e0e0e;
    width: 100%;
    height: 100px;
    bottom: 0px;
    z-index: 1;
}

#terminos {
    position: absolute;
    display: inline-block;
    top: 10px;
    transition: .5s;
    left: 1500px;
}
#servicio {
    position: absolute;
    display: inline-block;
    top: 10px;
    transition: .5s;
    left: 1100px;
}

#contacto {
    position: absolute;
    display: inline-block;
    top: 10px;
    transition: .5s;
    left: 700px;
}

#atencion {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 200px;
    transition: .5s;

}

#terminos a,
#servicio a,
#contacto a,
#atencion a {
    text-decoration:none;
    color: #ececec;
    letter-spacing: 1.2px;
    transform: scale(1, 1);
}

#terminos:hover,
#servicio:hover,
#contacto:hover,
#atencion:hover {
    transform: scale(1.1, 1.1);
    transition: .5s;
    text-shadow: .2px .2px 10px orange;
}

.logo-2{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: 20px;
    left: -40px;
    object-fit: cover;
}

#secciones {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 20px;
}

#sub-secciones {
    position: absolute;
    top: 0px;
    left: 250px;
    font-size: 20px;


}

.descripcion {
    display: inline-block;
    position: relative;
    top: -35px;
    left: 310px;
    width:600px;
    height:300px;
}


.enlaces-secciones {
    position: relative;
    width: 300px;
    height: 150px;
    top: 80px;
    line-height: 30px;
    font-size:15px;
}



.enlaces-secciones a {
    color: #ec991c;
    text-decoration: none;

}

.enlaces-sub-secciones a {
    color: #ec991c;
    text-decoration: none;

}


.enlaces-sub-secciones {
    position: relative;
    width: 300px;
    height: 150px;
    left: 252px;
    top: -70px;
    line-height: 30px;
    font-size:15px;
}

#paises {
    position: relative;
    top: -298px;
    left: 530px;
    font-size: 20px;
}

.enlaces-paises {
    position: absolute;
    top: 80px;
    left: 528px;
}

.enlaces-paises a {
    font-size: 15px;
    color: #ec991c;
    text-decoration: none;
    line-height: 30px;
}