html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: #141414;
    position: relative;
}

.contenedor_logo,
.contenedor_busqueda,
.contenedor_user,
.contenedor_carrito {
    display: inline-block;
    left: 10px;
    height: 100%;
}

.contenedor_logo {
    position: relative;
    width: 15%;
}
.contenedor_logo-link,
.contenedor_logo-img {
    display: block;
    width: 100%;
    height: 100%;
}
.contenedor_busqueda {
    position: relative;
    width: 50%;
}
.contenedor_busqueda-contenedor_buscador {
    background-color: white;
    position: absolute;
    border-radius: 10px;
    left: 5%;
    top: 30%;
    width: 90%;
    height: 40%;
}
.contenedor_buscador-contenedor_img {
    position: relative;
    display: inline-block;
    border-radius: 6px 0px 0px 6px;
    width: 5%;
    height: 100%;
    background-color: #fa883d;
}
.contenedor_buscador-contenedor_input {
    position: absolute;
    display: inline-block;
    border-radius: 0px 6px 6px 0px;
    width: 95%;
    height: 100%;
}
.contenedor_buscador-img {
    display: block;
    width: 100%;
    height: 100%;
}
.contenedor_buscador-input {
    position: absolute;
    border: none;
    border-radius: inherit;
    padding: 0px 0px 0px 9px;
    width: 100%;
    height: 100%;
}
.contenedor_user {
    position: relative;
    width: 10%;
}

.contenedor_user-iniciar-sesion {
    position: absolute;
    width: 80%;
    height: 40%;
    top: 30%;
    left: 10%;
    border: none;
    padding: 0;
    background-color: #1496ec;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor_carrito {
    position: relative;
    width: 5%;
}

.contenedor_carrito-img {
    display: block;
    position: inherit;
    top: 25%;
    left: 14px;
    width: 60%;
    height: 50%;
}

nav {
    width: 100%;
    height: 30px;
    background-color: #363636;
}

.contenedor_barra-lateral {

}



